# Transformación de Datos 
****

***Se importan librerias necesarias***

In [1]:
import pandas as pd
from pandas import json_normalize
import numpy as np
import json as js
import ast as ast
import re
from sklearn.preprocessing import MultiLabelBinarizer

***Transformación archivo1 : Steam_games***

**Se carga y se convierten en DataFrame para su visualización correcta**

In [71]:
steam_games = pd.read_json('/Users/carolina/Desktop/Data/Henry - Data Science/M7/Proyecto Individual 1/steam_games.json',lines=True)
df1 = steam_games
df1

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
1,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
2,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
3,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
4,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120440,Ghost_RUS Games,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"[Strategy, Indie, Casual, Simulation]",http://steamcommunity.com/app/773640/reviews/?...,"[Single-player, Steam Achievements]",1.99,0.0,773640.0,"Nikita ""Ghost_RUS"""
120441,Sacada,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"[Strategy, Indie, Casual]",http://steamcommunity.com/app/733530/reviews/?...,"[Single-player, Steam Achievements, Steam Clou...",4.99,0.0,733530.0,Sacada
120442,Laush Studio,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"[Indie, Simulation, Racing]",http://steamcommunity.com/app/610660/reviews/?...,"[Single-player, Steam Achievements, Steam Trad...",1.99,0.0,610660.0,Laush Dmitriy Sergeevich
120443,SIXNAILS,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",http://steamcommunity.com/app/658870/reviews/?...,"[Single-player, Steam Achievements, Steam Cloud]",4.99,0.0,658870.0,"xropi,stev3ns"
120444,None,None,Maze Run VR,None,http://store.steampowered.com/app/681550/Maze_...,None,"[Early Access, Adventure, Indie, Action, Simul...",http://steamcommunity.com/app/681550/reviews/?...,"[Single-player, Stats, Steam Leaderboards, HTC...",4.99,1.0,681550.0,None

Eliminar filas con datos nulos en el DataFrame

In [72]:
df1 = df1.dropna()

In [73]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22530 entries, 88310 to 120443
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     22530 non-null  object
 1   genres        22530 non-null  object
 2   app_name      22530 non-null  object
 3   title         22530 non-null  object
 4   url           22530 non-null  object
 5   release_date  22530 non-null  object
 6   tags          22530 non-null  object
 7   reviews_url   22530 non-null  object
 8   specs         22530 non-null  object
 9   price         22530 non-null  object
 10  early_access  22530 non-null  float64
 11  id            22530 non-null  float64
 12  developer     22530 non-null  object
dtypes: float64(2), object(11)
memory usage: 2.4+ MB

In [74]:
df1

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
88310,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,0.0,761140.0,Kotoshiro
88311,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free To Play,0.0,643980.0,Secret Level SRL
88312,Poolians.com,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",http://steamcommunity.com/app/670290/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free to Play,0.0,670290.0,Poolians.com
88313,彼岸领域,"[Action, Adventure, Casual]",弹炸人2222,弹炸人2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,"[Action, Adventure, Casual]",http://steamcommunity.com/app/767400/reviews/?...,[Single-player],0.99,0.0,767400.0,彼岸领域
88315,Trickjump Games Ltd,"[Action, Adventure, Simulation]",Battle Royale Trainer,Battle Royale Trainer,http://store.steampowered.com/app/772540/Battl...,2018-01-04,"[Action, Adventure, Simulation, FPS, Shooter, ...",http://steamcommunity.com/app/772540/reviews/?...,"[Single-player, Steam Achievements]",3.99,0.0,772540.0,Trickjump Games Ltd
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120439,Bidoniera Games,"[Action, Adventure, Casual, Indie]",Kebab it Up!,Kebab it Up!,http://store.steampowered.com/app/745400/Kebab...,2018-01-04,"[Action, Indie, Casual, Violent, Adventure]",http://steamcommunity.com/app/745400/reviews/?...,"[Single-player, Steam Achievements, Steam Cloud]",1.99,0.0,745400.0,Bidoniera Games
120440,Ghost_RUS Games,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"[Strategy, Indie, Casual, Simulation]",http://steamcommunity.com/app/773640/reviews/?...,"[Single-player, Steam Achievements]",1.99,0.0,773640.0,"Nikita ""Ghost_RUS"""
120441,Sacada,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"[Strategy, Indie, Casual]",http://steamcommunity.com/app/733530/reviews/?...,"[Single-player, Steam Achievements, Steam Clou...",4.99,0.0,733530.0,Sacada
120442,Laush Studio,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"[Indie, Simulation, Racing]",http://steamcommunity.com/app/610660/reviews/?...,"[Single-player, Steam Achievements, Steam Trad...",1.99,0.0,610660.0,Laush Dmitriy Sergeevich
120443,SIXNAILS,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",http://steamcommunity.com/app/658870/reviews/?...,"[Single-player, Steam Achievements, Steam Cloud]",4.99,0.0,658870.0,"xropi,stev3ns"

In [75]:
# Convertir las columnas con listas a cadenas de texto para poder buscar duplicados
df1 = df1.applymap(lambda x: tuple(x) if isinstance(x, list) else x)

# Encontrar los duplicados
duplicados = df1[df1.duplicated()]

# Mostrar los duplicados
print("Duplicados encontrados:")
print(duplicados)

/var/folders/mz/q_bk1n_55k70r74tttm3ps0c0000gn/T/ipykernel_6603/3296340217.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df1 = df1.applymap(lambda x: tuple(x) if isinstance(x, list) else x)

Duplicados encontrados:
Empty DataFrame
Columns: [publisher, genres, app_name, title, url, release_date, tags, reviews_url, specs, price, early_access, id, developer]
Index: []

In [76]:
# Eliminar filas con valores NaN en cualquier columna
df1 = df1.dropna()

# Mostrar el DataFrame después de eliminar filas con NaN
print(df1.head())

                 publisher                                             genres  \
88310            Kotoshiro      (Action, Casual, Indie, Simulation, Strategy)
88311     Making Fun, Inc.               (Free to Play, Indie, RPG, Strategy)
88312         Poolians.com  (Casual, Free to Play, Indie, Simulation, Sports)
88313                 彼岸领域                        (Action, Adventure, Casual)
88315  Trickjump Games Ltd                    (Action, Adventure, Simulation)

                      app_name                    title  \
88310      Lost Summoner Kitty      Lost Summoner Kitty
88311                Ironbound                Ironbound
88312  Real Pool 3D - Poolians  Real Pool 3D - Poolians
88313                  弹炸人2222                  弹炸人2222
88315    Battle Royale Trainer    Battle Royale Trainer

                                                     url release_date  \
88310  http://store.steampowered.com/app/761140/Lost_...   2018-01-04
88311  http://store.steampowered.com/app/643980/Ironb...   2018-01-04
88312  http://store.steampowered.com/app/670290/Real_...   2017-07-24
88313     http://store.steampowered.com/app/767400/2222/   2017-12-07
88315  http://store.steampowered.com/app/772540/Battl...   2018-01-04

                                                    tags  \
88310      (Strategy, Action, Indie, Casual, Simulation)
88311  (Free to Play, Strategy, Indie, RPG, Card Game...
88312  (Free to Play, Simulation, Sports, Casual, Ind...
88313                        (Action, Adventure, Casual)
88315  (Action, Adventure, Simulation, FPS, Shooter, ...

                                             reviews_url  \
88310  http://steamcommunity.com/app/761140/reviews/?...
88311  http://steamcommunity.com/app/643980/reviews/?...
88312  http://steamcommunity.com/app/670290/reviews/?...
88313  http://steamcommunity.com/app/767400/reviews/?...
88315  http://steamcommunity.com/app/772540/reviews/?...

                                                   specs         price  \
88310                                   (Single-player,)          4.99
88311  (Single-player, Multi-player, Online Multi-Pla...  Free To Play
88312  (Single-player, Multi-player, Online Multi-Pla...  Free to Play
88313                                   (Single-player,)          0.99
88315                (Single-player, Steam Achievements)          3.99

       early_access        id            developer
88310           0.0  761140.0            Kotoshiro
88311           0.0  643980.0     Secret Level SRL
88312           0.0  670290.0         Poolians.com
88313           0.0  767400.0                 彼岸领域
88315           0.0  772540.0  Trickjump Games Ltd

games: price, release_date, id, publisher, developer, genre, title

In [77]:
df1

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
88310,Kotoshiro,"(Action, Casual, Indie, Simulation, Strategy)",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"(Strategy, Action, Indie, Casual, Simulation)",http://steamcommunity.com/app/761140/reviews/?...,"(Single-player,)",4.99,0.0,761140.0,Kotoshiro
88311,"Making Fun, Inc.","(Free to Play, Indie, RPG, Strategy)",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"(Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,"(Single-player, Multi-player, Online Multi-Pla...",Free To Play,0.0,643980.0,Secret Level SRL
88312,Poolians.com,"(Casual, Free to Play, Indie, Simulation, Sports)",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"(Free to Play, Simulation, Sports, Casual, Ind...",http://steamcommunity.com/app/670290/reviews/?...,"(Single-player, Multi-player, Online Multi-Pla...",Free to Play,0.0,670290.0,Poolians.com
88313,彼岸领域,"(Action, Adventure, Casual)",弹炸人2222,弹炸人2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,"(Action, Adventure, Casual)",http://steamcommunity.com/app/767400/reviews/?...,"(Single-player,)",0.99,0.0,767400.0,彼岸领域
88315,Trickjump Games Ltd,"(Action, Adventure, Simulation)",Battle Royale Trainer,Battle Royale Trainer,http://store.steampowered.com/app/772540/Battl...,2018-01-04,"(Action, Adventure, Simulation, FPS, Shooter, ...",http://steamcommunity.com/app/772540/reviews/?...,"(Single-player, Steam Achievements)",3.99,0.0,772540.0,Trickjump Games Ltd
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120439,Bidoniera Games,"(Action, Adventure, Casual, Indie)",Kebab it Up!,Kebab it Up!,http://store.steampowered.com/app/745400/Kebab...,2018-01-04,"(Action, Indie, Casual, Violent, Adventure)",http://steamcommunity.com/app/745400/reviews/?...,"(Single-player, Steam Achievements, Steam Cloud)",1.99,0.0,745400.0,Bidoniera Games
120440,Ghost_RUS Games,"(Casual, Indie, Simulation, Strategy)",Colony On Mars,Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"(Strategy, Indie, Casual, Simulation)",http://steamcommunity.com/app/773640/reviews/?...,"(Single-player, Steam Achievements)",1.99,0.0,773640.0,"Nikita ""Ghost_RUS"""
120441,Sacada,"(Casual, Indie, Strategy)",LOGistICAL: South Africa,LOGistICAL: South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"(Strategy, Indie, Casual)",http://steamcommunity.com/app/733530/reviews/?...,"(Single-player, Steam Achievements, Steam Clou...",4.99,0.0,733530.0,Sacada
120442,Laush Studio,"(Indie, Racing, Simulation)",Russian Roads,Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"(Indie, Simulation, Racing)",http://steamcommunity.com/app/610660/reviews/?...,"(Single-player, Steam Achievements, Steam Trad...",1.99,0.0,610660.0,Laush Dmitriy Sergeevich
120443,SIXNAILS,"(Casual, Indie)",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"(Indie, Casual, Puzzle, Singleplayer, Atmosphe...",http://steamcommunity.com/app/658870/reviews/?...,"(Single-player, Steam Achievements, Steam Cloud)",4.99,0.0,658870.0,"xropi,stev3ns"

In [78]:
#Convertir la columna "price" en integer y cambiar free por 0
# 1. Convertir la columna 'price' a enteros
# Si tienes valores no numéricos en 'price', como 'Free To Play', debes manejarlos
df1['price'] = pd.to_numeric(df1['price'], errors='coerce')  # Convierte valores no numéricos en NaN
df1['price'] = df1['price'].fillna(0)  # Rellena los NaN con 0 (o puedes eliminarlos si prefieres)
df1['price'] = df1['price'].astype(int)  # Convierte a tipo entero

In [79]:
#Convertir la columna "id" en integer 
df1['id'] = df1['id'].astype(int)

In [80]:
# Convertir la columna 'release_date' a tipo datetime

df1['release_date'] = pd.to_datetime(df1['release_date'], errors='coerce')

In [81]:
# Convertir todas las columnas de tipo 'object' a 'str'
# Iterar sobre todas las columnas y convertir las de tipo 'object' a 'str'
for col in df1.select_dtypes(include=['object']).columns:
    df1[col] = df1[col].astype(str)

In [82]:
print(df1.dtypes)

publisher               object
genres                  object
app_name                object
title                   object
url                     object
release_date    datetime64[ns]
tags                    object
reviews_url             object
specs                   object
price                    int64
early_access           float64
id                       int64
developer               object
dtype: object

In [83]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22530 entries, 88310 to 120443
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     22530 non-null  object
 1   genres        22530 non-null  object
 2   app_name      22530 non-null  object
 3   title         22530 non-null  object
 4   url           22530 non-null  object
 5   release_date  22496 non-null  datetime64[ns]
 6   tags          22530 non-null  object
 7   reviews_url   22530 non-null  object
 8   specs         22530 non-null  object
 9   price         22530 non-null  int64
 10  early_access  22530 non-null  float64
 11  id            22530 non-null  int64
 12  developer     22530 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(9)
memory usage: 2.4+ MB

In [84]:
print(df1['id'])

88310     761140
88311     643980
88312     670290
88313     767400
88315     772540
           ...
120439    745400
120440    773640
120441    733530
120442    610660
120443    658870
Name: id, Length: 22530, dtype: int64

games: price, release_date, id, publisher, developer, genre, title

In [84]:
df1.columns

Index(['publisher', 'genres', 'app_name', 'title', 'url', 'release_date',
       'tags', 'reviews_url', 'specs', 'price', 'early_access', 'id',
       'developer'],
      dtype='object')

In [85]:

columnas_especificas = ['publisher','genres', 'title', 'release_date','price','id','developer']

# Crear un nuevo DataFrame con solo las columnas específicas
nuevo_df_games = df1[columnas_especificas]

# Ver el nuevo DataFrame
print(nuevo_df_games)
df_games = nuevo_df_games

                  publisher  \
88310             Kotoshiro
88311      Making Fun, Inc.
88312          Poolians.com
88313                  彼岸领域
88315   Trickjump Games Ltd
...                     ...
120439      Bidoniera Games
120440      Ghost_RUS Games
120441               Sacada
120442         Laush Studio
120443             SIXNAILS

                                                   genres  \
88310   ('Action', 'Casual', 'Indie', 'Simulation', 'S...
88311        ('Free to Play', 'Indie', 'RPG', 'Strategy')
88312   ('Casual', 'Free to Play', 'Indie', 'Simulatio...
88313                   ('Action', 'Adventure', 'Casual')
88315               ('Action', 'Adventure', 'Simulation')
...                                                   ...
120439         ('Action', 'Adventure', 'Casual', 'Indie')
120440      ('Casual', 'Indie', 'Simulation', 'Strategy')
120441                    ('Casual', 'Indie', 'Strategy')
120442                  ('Indie', 'Racing', 'Simulation')
120443                                ('Casual', 'Indie')

                           title release_date  price      id  \
88310        Lost Summoner Kitty   2018-01-04      4  761140
88311                  Ironbound   2018-01-04      0  643980
88312    Real Pool 3D - Poolians   2017-07-24      0  670290
88313                    弹炸人2222   2017-12-07      0  767400
88315      Battle Royale Trainer   2018-01-04      3  772540
...                          ...          ...    ...     ...
120439              Kebab it Up!   2018-01-04      1  745400
120440            Colony On Mars   2018-01-04      1  773640
120441  LOGistICAL: South Africa   2018-01-04      4  733530
120442             Russian Roads   2018-01-04      1  610660
120443       EXIT 2 - Directions   2017-09-02      4  658870

                       developer
88310                  Kotoshiro
88311           Secret Level SRL
88312               Poolians.com
88313                       彼岸领域
88315        Trickjump Games Ltd
...                          ...
120439           Bidoniera Games
120440        Nikita "Ghost_RUS"
120441                    Sacada
120442  Laush Dmitriy Sergeevich
120443             xropi,stev3ns

[22530 rows x 7 columns]

In [86]:
df_games

,publisher,genres,title,release_date,price,id,developer
88310,Kotoshiro,"('Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,2018-01-04,4,761140,Kotoshiro
88311,"Making Fun, Inc.","('Free to Play', 'Indie', 'RPG', 'Strategy')",Ironbound,2018-01-04,0,643980,Secret Level SRL
88312,Poolians.com,"('Casual', 'Free to Play', 'Indie', 'Simulatio...",Real Pool 3D - Poolians,2017-07-24,0,670290,Poolians.com
88313,彼岸领域,"('Action', 'Adventure', 'Casual')",弹炸人2222,2017-12-07,0,767400,彼岸领域
88315,Trickjump Games Ltd,"('Action', 'Adventure', 'Simulation')",Battle Royale Trainer,2018-01-04,3,772540,Trickjump Games Ltd
...,...,...,...,...,...,...,...
120439,Bidoniera Games,"('Action', 'Adventure', 'Casual', 'Indie')",Kebab it Up!,2018-01-04,1,745400,Bidoniera Games
120440,Ghost_RUS Games,"('Casual', 'Indie', 'Simulation', 'Strategy')",Colony On Mars,2018-01-04,1,773640,"Nikita ""Ghost_RUS"""
120441,Sacada,"('Casual', 'Indie', 'Strategy')",LOGistICAL: South Africa,2018-01-04,4,733530,Sacada
120442,Laush Studio,"('Indie', 'Racing', 'Simulation')",Russian Roads,2018-01-04,1,610660,Laush Dmitriy Sergeevich
120443,SIXNAILS,"('Casual', 'Indie')",EXIT 2 - Directions,2017-09-02,4,658870,"xropi,stev3ns"

In [89]:
df_games.to_parquet('df_games.parquet', engine='pyarrow', index=False)

In [39]:
list_items = []  #Este código está diseñado para leer un archivo JSON línea por línea, convertir cada línea en un diccionario Python y luego agregarlo a una lista llamada list_items
archivo2 = r'/Users/carolina/Desktop/Data/Henry - Data Science/M7/Proyecto Individual 1/users_items.json'
with open(archivo2, encoding='utf-8') as file2:
    for line2 in file2.readlines():
        list_items.append(ast.literal_eval(line2))

it1 = pd.DataFrame(list_items)
df2 = it1

***Se realiza exploración de datos de cada uno de los archivos tipo Json***

***

In [34]:
df1.info()
df2.info()
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120445 entries, 0 to 120444
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     24083 non-null  object
 1   genres        28852 non-null  object
 2   app_name      32133 non-null  object
 3   title         30085 non-null  object
 4   url           32135 non-null  object
 5   release_date  30068 non-null  object
 6   tags          31972 non-null  object
 7   reviews_url   32133 non-null  object
 8   specs         31465 non-null  object
 9   price         30758 non-null  object
 10  early_access  32135 non-null  float64
 11  id            32133 non-null  float64
 12  developer     28836 non-null  object
dtypes: float64(2), object(11)
memory usage: 11.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88310 entries, 0 to 88309
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      88310 non-null  object
 1   items_count  88310 non-null  int64
 2   steam_id     88310 non-null  object
 3   user_url     88310 non-null  object
 4   items        88310 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25799 entries, 0 to 25798
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   user_id   25799 non-null  object
 1   user_url  25799 non-null  object
 2   reviews   25799 non-null  object
dtypes: object(3)
memory usage: 604.8+ KB

In [35]:
#df1.describe()
#df2.describe()
#df3.describe()

***Transformación de los Datasets***

**Revisión de valores nulos y tratamiento**

In [ ]:
df1.isnull().sum()
df2.isnull().sum()
df3.isnull().sum()

# Transformaciones Dataset user_reviews

In [17]:
list_reviews = [] #Este código está diseñado para leer un archivo JSON línea por línea, convertir cada línea en un diccionario Python y luego agregarlo a una lista llamada list_reviews
archivo3 = r'/Users/carolina/Downloads/user_reviews3.json'
with open(archivo3, encoding='utf-8') as file2:
    for line2 in file2.readlines():
        list_reviews.append(ast.literal_eval(line2))
it2= pd.DataFrame(list_reviews)
df3 = it2

In [18]:
df3.isnull().sum()

user_id     0
user_url    0
reviews     0
dtype: int64

In [19]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25799 entries, 0 to 25798
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   user_id   25799 non-null  object
 1   user_url  25799 non-null  object
 2   reviews   25799 non-null  object
dtypes: object(3)
memory usage: 604.8+ KB

***Desanidar Columna "reviews" del archivo Reviews***

In [22]:

#Este codigo funciona para limpiar la columna "reviews", convirtiendo cualquier texto que represente una lista o diccionario en una estructura de Python real.
df3['reviews'] = df3['reviews'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
# Verificar si hay índices duplicados
duplicate_index = df3.index.duplicated()
if duplicate_index.any():
    print(df3[duplicate_index])  # No se encontraron indices duplicados
# Restablecer el índice
df3_reset = df3.reset_index(drop=True)
# Convertir la columna 'reviews' en listas de diccionarios
df3['reviews'] = df3['reviews'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

# Explota las reseñas
df_exploded = df3.explode('reviews')

# Normaliza la columna 'reviews'
df_reviews = pd.json_normalize(df_exploded['reviews'])

# Restablece el índice del DataFrame normalizado
df_reviews.reset_index(drop=True, inplace=True)

# Combina los DataFrames
df_final_reviews = pd.concat([df_exploded.drop(columns=['reviews']).reset_index(drop=True), df_reviews], axis=1)

# Muestra el DataFrame final
print(df_final_reviews.head())
df_final_reviews
df3= df_final_reviews

KeyError: 'reviews'

In [23]:
df3

,user_id,user_url,funny,posted,last_edited,item_id,helpful,recommend,review
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.
2,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
3,js41637,http://steamcommunity.com/id/js41637,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
4,js41637,http://steamcommunity.com/id/js41637,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...
...,...,...,...,...,...,...,...,...,...
59328,76561198312638244,http://steamcommunity.com/profiles/76561198312...,,Posted July 10.,,70,No ratings yet,True,a must have classic from steam definitely wort...
59329,76561198312638244,http://steamcommunity.com/profiles/76561198312...,,Posted July 8.,,362890,No ratings yet,True,this game is a perfect remake of the original ...
59330,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,1 person found this review funny,Posted July 3.,,273110,1 of 2 people (50%) found this review helpful,True,had so much fun plaing this and collecting res...
59331,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,,Posted July 20.,,730,No ratings yet,True,:D
59332,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,,Posted July 2.,,440,No ratings yet,True,so much fun :D

In [24]:
# Elimiar filas con datos nulos 
df3 = df3.dropna()

In [25]:
df3.isnull().sum()

user_id        0
user_url       0
funny          0
posted         0
last_edited    0
item_id        0
helpful        0
recommend      0
review         0
dtype: int64

In [26]:
# Convertir las columnas con listas a cadenas de texto para poder buscar duplicados
df3 = df3.applymap(lambda x: tuple(x) if isinstance(x, list) else x)

# Encontrar los duplicados
duplicados = df3[df3.duplicated()]

# Mostrar los duplicados
print("Duplicados encontrados:")
print(duplicados)

/var/folders/mz/q_bk1n_55k70r74tttm3ps0c0000gn/T/ipykernel_1066/153280371.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df3 = df3.applymap(lambda x: tuple(x) if isinstance(x, list) else x)

Duplicados encontrados:
                 user_id                                           user_url  \
1114          bokkkbokkk            http://steamcommunity.com/id/bokkkbokkk
2894          ImSeriouss            http://steamcommunity.com/id/ImSeriouss
2895          ImSeriouss            http://steamcommunity.com/id/ImSeriouss
2896          ImSeriouss            http://steamcommunity.com/id/ImSeriouss
2897          ImSeriouss            http://steamcommunity.com/id/ImSeriouss
...                  ...                                                ...
44456  76561198092022514  http://steamcommunity.com/profiles/76561198092...
44457  76561198092022514  http://steamcommunity.com/profiles/76561198092...
44458  76561198092022514  http://steamcommunity.com/profiles/76561198092...
44459  76561198092022514  http://steamcommunity.com/profiles/76561198092...
44603     SuchGayMuchWow        http://steamcommunity.com/id/SuchGayMuchWow

      funny                      posted                    last_edited  \
1114         Posted September 24, 2015.
2894           Posted January 10, 2014.
2895           Posted January 10, 2014.
2896          Posted December 17, 2014.
2897           Posted January 13, 2014.
...     ...                         ...                            ...
44456                    Posted July 3.
44457                    Posted June 1.
44458           Posted August 17, 2014.
44459         Posted February 17, 2014.
44603             Posted July 18, 2015.  Last edited December 1, 2015.

      item_id                                         helpful  recommend  \
1114   346110  1 of 1 people (100%) found this review helpful       True
2894   218620   1 of 3 people (33%) found this review helpful       True
2895   105600    0 of 2 people (0%) found this review helpful       True
2896      570                                  No ratings yet       True
2897   211820                                  No ratings yet       True
...       ...                                             ...        ...
44456  422400                                  No ratings yet       True
44457  218620                                  No ratings yet       True
44458  261820                                  No ratings yet       True
44459  224260                                  No ratings yet       True
44603     730                                  No ratings yet       True

                                                  review
1114                                                 yep
2894              Good graphics, fun heists! A bit laggy
2895   So fun! DEFINITELY NOT RIP OFF OF MINECRAFT! e...
2896                                          bobo pinoy
2897   If you want to play this game.. expect glithes...
...                                                  ...
44456  Muy entretenido y una coleccion de armas prome...
44457  Tiene una jugabilidad y tematica muy buena :D,...
44458  Buen juego, no importa el desarrrollo que tien...
44459  exelente aporte :D¡¡¡ es una buen mod basado e...
44603                10/10 too many children with mikes.

[874 rows x 9 columns]

In [27]:
# Borrar duplicados
df3 = df3.drop_duplicates()
# Encontrar los duplicados
duplicados = df3[df3.duplicated()]

***Limpiar los datos en la columna review del DS***

In [28]:

# Función para limpiar texto
def clean_review(text):
    # Eliminar URLs
    text = re.sub(r"http\S+|www\S+|https\S+", '', text)
    # Eliminar caracteres no alfanuméricos excepto espacios
    text = re.sub(r'[^a-zA-Z0-9\s]', '', text)
    # Convertir el texto a minúsculas
    text = text.lower()
    return text

# Aplicar la limpieza a la columna 'review'
df3['review'] = df3['review'].apply(lambda x: clean_review(x) if isinstance(x, str) else '')

# Eliminar filas donde 'review' esté vacío o no válido
df3 = df3[df3['review'].str.strip() != '']

# Eliminar cualquier reseña vacía o NaN
df3 = df3.dropna(subset=['review'])

# Ver el DataFrame limpio
print(df3.head())

             user_id                                           user_url funny  \
0  76561197970982479  http://steamcommunity.com/profiles/76561197970...
1  76561197970982479  http://steamcommunity.com/profiles/76561197970...
2  76561197970982479  http://steamcommunity.com/profiles/76561197970...
3            js41637               http://steamcommunity.com/id/js41637
4            js41637               http://steamcommunity.com/id/js41637

                      posted last_edited item_id  \
0   Posted November 5, 2011.                1250
1      Posted July 15, 2011.               22200
2     Posted April 21, 2011.               43110
3      Posted June 24, 2014.              251610
4  Posted September 8, 2013.              227300

                                           helpful  recommend  \
0                                   No ratings yet       True
1                                   No ratings yet       True
2                                   No ratings yet       True
3  15 of 20 people (75%) found this review helpful       True
4     0 of 1 people (0%) found this review helpful       True

                                              review
0  simple yet with great replayability in my opin...
1                 its unique and worth a playthrough
2  great atmosphere the gunplay can be a bit chun...
3  i know what you think when you see this title ...
4  for a simple its actually not all that simple ...

In [29]:
df3

,user_id,user_url,funny,posted,last_edited,item_id,helpful,recommend,review
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted November 5, 2011.",,1250,No ratings yet,True,simple yet with great replayability in my opin...
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted July 15, 2011.",,22200,No ratings yet,True,its unique and worth a playthrough
2,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted April 21, 2011.",,43110,No ratings yet,True,great atmosphere the gunplay can be a bit chun...
3,js41637,http://steamcommunity.com/id/js41637,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,i know what you think when you see this title ...
4,js41637,http://steamcommunity.com/id/js41637,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,for a simple its actually not all that simple ...
...,...,...,...,...,...,...,...,...,...
59328,76561198312638244,http://steamcommunity.com/profiles/76561198312...,,Posted July 10.,,70,No ratings yet,True,a must have classic from steam definitely wort...
59329,76561198312638244,http://steamcommunity.com/profiles/76561198312...,,Posted July 8.,,362890,No ratings yet,True,this game is a perfect remake of the original ...
59330,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,1 person found this review funny,Posted July 3.,,273110,1 of 2 people (50%) found this review helpful,True,had so much fun plaing this and collecting res...
59331,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,,Posted July 20.,,730,No ratings yet,True,d
59332,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,,Posted July 2.,,440,No ratings yet,True,so much fun d

In [30]:
# Extraer el año de la columna 'posted'
df3['posted_year'] = df3['posted'].str.extract(r'(\d{4})')  # Extrae el año de la fecha en formato de cuatro dígitos

In [31]:
# Convertir a numérico, forzando valores no válidos a NaN
df3['posted_year'] = pd.to_numeric(df3['posted_year'], errors='coerce')

In [32]:
# Eliminar filas con valores nulos en 'posted_year'
df3_clean = df3.dropna(subset=['posted_year'])

In [33]:
# Verificar los primeros datos después de la limpieza
print(df3_clean.head())

             user_id                                           user_url funny  \
0  76561197970982479  http://steamcommunity.com/profiles/76561197970...
1  76561197970982479  http://steamcommunity.com/profiles/76561197970...
2  76561197970982479  http://steamcommunity.com/profiles/76561197970...
3            js41637               http://steamcommunity.com/id/js41637
4            js41637               http://steamcommunity.com/id/js41637

                      posted last_edited item_id  \
0   Posted November 5, 2011.                1250
1      Posted July 15, 2011.               22200
2     Posted April 21, 2011.               43110
3      Posted June 24, 2014.              251610
4  Posted September 8, 2013.              227300

                                           helpful  recommend  \
0                                   No ratings yet       True
1                                   No ratings yet       True
2                                   No ratings yet       True
3  15 of 20 people (75%) found this review helpful       True
4     0 of 1 people (0%) found this review helpful       True

                                              review  posted_year
0  simple yet with great replayability in my opin...       2011.0
1                 its unique and worth a playthrough       2011.0
2  great atmosphere the gunplay can be a bit chun...       2011.0
3  i know what you think when you see this title ...       2014.0
4  for a simple its actually not all that simple ...       2013.0

In [34]:
df3 = df3_clean

In [35]:
print(df3['posted_year'].unique())

[2011. 2014. 2013. 2015. 2012. 2010.]

In [36]:
df3.isnull().sum()

user_id        0
user_url       0
funny          0
posted         0
last_edited    0
item_id        0
helpful        0
recommend      0
review         0
posted_year    0
dtype: int64

In [ ]:
user_id, posted_year, reviews

In [37]:
# Supongamos que tienes un DataFrame llamado df
columnas_especificas = ['user_id','posted_year','recommend','review']

# Crear un nuevo DataFrame con solo las columnas específicas
nuevo_df_reviews = df3[columnas_especificas]

# Ver el nuevo DataFrame
print(nuevo_df_reviews)
df_reviews = nuevo_df_reviews

                 user_id  posted_year  recommend  \
0      76561197970982479       2011.0       True
1      76561197970982479       2011.0       True
2      76561197970982479       2011.0       True
3                js41637       2014.0       True
4                js41637       2013.0       True
...                  ...          ...        ...
59280            wayfeng       2015.0       True
59283  76561198251004808       2015.0       True
59293        72947282842       2015.0       True
59295          ApxLGhost       2015.0       True
59304  76561198267374962       2015.0       True

                                                  review
0      simple yet with great replayability in my opin...
1                     its unique and worth a playthrough
2      great atmosphere the gunplay can be a bit chun...
3      i know what you think when you see this title ...
4      for a simple its actually not all that simple ...
...                                                  ...
59280                                     its funnnnnnnn
59283  awesome fantasy game if you dont mind the grap...
59293                                   prettyy mad game
59295                                  amazing game 1010
59304  why i voted yes 1 girl characters have boobs2 ...

[47553 rows x 4 columns]

In [38]:
df_reviews.to_parquet('df_reviews.parquet', engine='pyarrow', index=False)

# Modificacion DS user_item

In [90]:
list_items = []  #Este código está diseñado para leer un archivo JSON línea por línea, convertir cada línea en un diccionario Python y luego agregarlo a una lista llamada list_items
archivo2 = r'/Users/carolina/Desktop/Data/Henry - Data Science/M7/Proyecto Individual 1/users_items.json'
with open(archivo2, encoding='utf-8') as file2:
    for line2 in file2.readlines():
        list_items.append(ast.literal_eval(line2))

it1 = pd.DataFrame(list_items)
df2 = it1

In [20]:
df2

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."
...,...,...,...,...,...
88305,76561198323066619,22,76561198323066619,http://steamcommunity.com/profiles/76561198323...,"[{'item_id': '413850', 'item_name': 'CS:GO Pla..."
88306,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...,"[{'item_id': '11020', 'item_name': 'TrackMania..."
88307,XxLaughingJackClown77xX,0,76561198328759259,http://steamcommunity.com/id/XxLaughingJackClo...,[]
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"[{'item_id': '304930', 'item_name': 'Unturned'..."
88309,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,[]

***Desanidar Columna "items"***

In [110]:


# Convertir la columna 'items' en listas de diccionarios en el DataFrame original
df2['items'] = df2['items'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

# Explota las reseñas en el mismo DataFrame original
df2 = df2.explode('items')

# Normaliza la columna 'items' en el DataFrame original
df_items = pd.json_normalize(df2['items'])

# Restablece el índice del DataFrame original
df_items.reset_index(drop=True, inplace=True)
df2.reset_index(drop=True, inplace=True)

# Combina las columnas normalizadas con el DataFrame original
df2 = pd.concat([df2.drop(columns=['items']), df_items], axis=1)

# Muestra el DataFrame final
print(df2.head())

             user_id  items_count           steam_id  \
0  76561197970982479          277  76561197970982479
1  76561197970982479          277  76561197970982479
2  76561197970982479          277  76561197970982479
3  76561197970982479          277  76561197970982479
4  76561197970982479          277  76561197970982479

                                            user_url item_id  \
0  http://steamcommunity.com/profiles/76561197970...      10
1  http://steamcommunity.com/profiles/76561197970...      20
2  http://steamcommunity.com/profiles/76561197970...      30
3  http://steamcommunity.com/profiles/76561197970...      40
4  http://steamcommunity.com/profiles/76561197970...      50

                   item_name  playtime_forever  playtime_2weeks
0             Counter-Strike               6.0              0.0
1      Team Fortress Classic               0.0              0.0
2              Day of Defeat               7.0              0.0
3         Deathmatch Classic               0.0              0.0
4  Half-Life: Opposing Force               0.0              0.0

In [111]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5170015 entries, 0 to 5170014
Data columns (total 8 columns):
 #   Column            Dtype
---  ------            -----
 0   user_id           object
 1   items_count       int64
 2   steam_id          object
 3   user_url          object
 4   item_id           object
 5   item_name         object
 6   playtime_forever  float64
 7   playtime_2weeks   float64
dtypes: float64(2), int64(1), object(5)
memory usage: 315.6+ MB

In [112]:
duplicados = df2[df2.duplicated()]
print("Duplicados encontrados:")
print(df2)

Duplicados encontrados:
                   user_id  items_count           steam_id  \
0        76561197970982479          277  76561197970982479
1        76561197970982479          277  76561197970982479
2        76561197970982479          277  76561197970982479
3        76561197970982479          277  76561197970982479
4        76561197970982479          277  76561197970982479
...                    ...          ...                ...
5170010  76561198329548331            7  76561198329548331
5170011  76561198329548331            7  76561198329548331
5170012  76561198329548331            7  76561198329548331
5170013  76561198329548331            7  76561198329548331
5170014  edward_tremethick            0  76561198331598578

                                                  user_url item_id  \
0        http://steamcommunity.com/profiles/76561197970...      10
1        http://steamcommunity.com/profiles/76561197970...      20
2        http://steamcommunity.com/profiles/76561197970...      30
3        http://steamcommunity.com/profiles/76561197970...      40
4        http://steamcommunity.com/profiles/76561197970...      50
...                                                    ...     ...
5170010  http://steamcommunity.com/profiles/76561198329...  373330
5170011  http://steamcommunity.com/profiles/76561198329...  388490
5170012  http://steamcommunity.com/profiles/76561198329...  521570
5170013  http://steamcommunity.com/profiles/76561198329...  519140
5170014     http://steamcommunity.com/id/edward_tremethick     NaN

                             item_name  playtime_forever  playtime_2weeks
0                       Counter-Strike               6.0              0.0
1                Team Fortress Classic               0.0              0.0
2                        Day of Defeat               7.0              0.0
3                   Deathmatch Classic               0.0              0.0
4            Half-Life: Opposing Force               0.0              0.0
...                                ...               ...              ...
5170010                    All Is Dust               0.0              0.0
5170011  One Way To Die: Steam Edition               3.0              3.0
5170012          You Have 10 Seconds 2               4.0              4.0
5170013                     Minds Eyes               3.0              3.0
5170014                            NaN               NaN              NaN

[5170015 rows x 8 columns]

In [113]:
# Si existen duplicados, los mostramos
if not duplicados.empty:
    print(f"Duplicados encontrados: {len(duplicados)} filas")
    print(duplicados.head())  # Muestra solo las primeras filas de los duplicados
else:
    print("No se encontraron duplicados.")

Duplicados encontrados: 59196 filas
           user_id  items_count           steam_id  \
75762   bokkkbokkk            0  76561198006988360
164518      Nikiad          109  76561198084006094
164519      Nikiad          109  76561198084006094
164520      Nikiad          109  76561198084006094
164521      Nikiad          109  76561198084006094

                                       user_url item_id  \
75762   http://steamcommunity.com/id/bokkkbokkk     NaN
164518      http://steamcommunity.com/id/Nikiad      20
164519      http://steamcommunity.com/id/Nikiad      50
164520      http://steamcommunity.com/id/Nikiad      70
164521      http://steamcommunity.com/id/Nikiad     130

                        item_name  playtime_forever  playtime_2weeks
75762                         NaN               NaN              NaN
164518      Team Fortress Classic               5.0              0.0
164519  Half-Life: Opposing Force               0.0              0.0
164520                  Half-Life               0.0              0.0
164521      Half-Life: Blue Shift               0.0              0.0

In [114]:
# Elimina los duplicados, conservando solo la primera aparición
df2_sin_duplicados = df2.drop_duplicates()

# Verifica el tamaño del DataFrame después de eliminar los duplicados
print(f"Tamaño del DataFrame después de eliminar duplicados: {df2_sin_duplicados.shape}")

Tamaño del DataFrame después de eliminar duplicados: (5110819, 8)

In [115]:
df2_items =df2_sin_duplicados

In [116]:
# Eliminar filas con valores NaN en cualquier columna
df2_items = df2_items.dropna()

# Mostrar el DataFrame después de eliminar filas con NaN
print(df2_items.head())

             user_id  items_count           steam_id  \
0  76561197970982479          277  76561197970982479
1  76561197970982479          277  76561197970982479
2  76561197970982479          277  76561197970982479
3  76561197970982479          277  76561197970982479
4  76561197970982479          277  76561197970982479

                                            user_url item_id  \
0  http://steamcommunity.com/profiles/76561197970...      10
1  http://steamcommunity.com/profiles/76561197970...      20
2  http://steamcommunity.com/profiles/76561197970...      30
3  http://steamcommunity.com/profiles/76561197970...      40
4  http://steamcommunity.com/profiles/76561197970...      50

                   item_name  playtime_forever  playtime_2weeks
0             Counter-Strike               6.0              0.0
1      Team Fortress Classic               0.0              0.0
2              Day of Defeat               7.0              0.0
3         Deathmatch Classic               0.0              0.0
4  Half-Life: Opposing Force               0.0              0.0

In [117]:
df2_items

,user_id,items_count,steam_id,user_url,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,10,Counter-Strike,6.0,0.0
1,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,20,Team Fortress Classic,0.0,0.0
2,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,30,Day of Defeat,7.0,0.0
3,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,40,Deathmatch Classic,0.0,0.0
4,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,50,Half-Life: Opposing Force,0.0,0.0
...,...,...,...,...,...,...,...,...
5170009,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,346330,BrainBread 2,0.0,0.0
5170010,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,373330,All Is Dust,0.0,0.0
5170011,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,388490,One Way To Die: Steam Edition,3.0,3.0
5170012,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,521570,You Have 10 Seconds 2,4.0,4.0
5170013,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,519140,Minds Eyes,3.0,3.0

In [118]:
df2_items.isnull().sum()

user_id             0
items_count         0
steam_id            0
user_url            0
item_id             0
item_name           0
playtime_forever    0
playtime_2weeks     0
dtype: int64

In [ ]:
df2_items

In [119]:
# Revisar tipo de dato 
print(df2_items.dtypes)

user_id              object
items_count           int64
steam_id             object
user_url             object
item_id              object
item_name            object
playtime_forever    float64
playtime_2weeks     float64
dtype: object

In [123]:
df2.columns

Index(['user_id', 'items_count', 'steam_id', 'user_url', 'item_id',
       'item_name', 'playtime_forever', 'playtime_2weeks'],
      dtype='object')

In [ ]:
item_id, user_id, playtime_forever

In [124]:

columnas_especificas2 = ['user_id','item_id','playtime_forever']

# Crear un nuevo DataFrame con solo las columnas específicas
nuevo_df_items = df2[columnas_especificas2]

# Ver el nuevo DataFrame
print(nuevo_df_items)
df_items = nuevo_df_items

                   user_id item_id  playtime_forever
0        76561197970982479      10               6.0
1        76561197970982479      20               0.0
2        76561197970982479      30               7.0
3        76561197970982479      40               0.0
4        76561197970982479      50               0.0
...                    ...     ...               ...
5170010  76561198329548331  373330               0.0
5170011  76561198329548331  388490               3.0
5170012  76561198329548331  521570               4.0
5170013  76561198329548331  519140               3.0
5170014  edward_tremethick     NaN               NaN

[5170015 rows x 3 columns]

In [125]:
df_items = df_items.dropna(subset=['user_id','item_id','playtime_forever'])

In [126]:
df_items

                   user_id item_id  playtime_forever
0        76561197970982479      10               6.0
1        76561197970982479      20               0.0
2        76561197970982479      30               7.0
3        76561197970982479      40               0.0
4        76561197970982479      50               0.0
...                    ...     ...               ...
5170009  76561198329548331  346330               0.0
5170010  76561198329548331  373330               0.0
5170011  76561198329548331  388490               3.0
5170012  76561198329548331  521570               4.0
5170013  76561198329548331  519140               3.0

[5153209 rows x 3 columns]

In [128]:
df_items.shape

(5153209, 3)

In [129]:
df_items.to_parquet('df_items.parquet', engine='pyarrow', index=False)

In [ ]:
df_reviews.to_parquet('df_reviews.parquet', engine='pyarrow', index=False)

In [13]:
df_reviews = pd.read_parquet('/Users/carolina/Desktop/Data/Henry - Data Science/M7/Proyecto Individual 1/df_reviews.parquet')

In [14]:
df_reviews

,user_id,posted_year,review
0,76561197970982479,2011,simple yet with great replayability in my opin...
1,76561197970982479,2011,its unique and worth a playthrough
2,76561197970982479,2011,great atmosphere the gunplay can be a bit chun...
3,js41637,2014,i know what you think when you see this title ...
4,js41637,2013,for a simple its actually not all that simple ...
...,...,...,...
47548,wayfeng,2015,its funnnnnnnn
47549,76561198251004808,2015,awesome fantasy game if you dont mind the grap...
47550,72947282842,2015,prettyy mad game
47551,ApxLGhost,2015,amazing game 1010
47552,76561198267374962,2015,why i voted yes 1 girl characters have boobs2 ...