In [4]:
import pandas as pd
from pandas import json_normalize
import numpy as np
import json as js
import ast 
import re
from sklearn.preprocessing import MultiLabelBinarizer

In [9]:
list_reviews = [] #Este código está diseñado para leer un archivo JSON línea por línea, convertir cada línea en un diccionario Python y luego agregarlo a una lista llamada list_reviews
archivo3 = r'/Users/carolina/Desktop/Data/Henry - Data Science/M7/Proyecto Individual 1/user_reviews.json'
with open(archivo3, encoding='utf-8') as file2:
    for line2 in file2.readlines():
        list_reviews.append(ast.literal_eval(line2))
it2= pd.DataFrame(list_reviews)
df3 = it2

In [10]:
df3

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."
...,...,...,...
25794,76561198306599751,http://steamcommunity.com/profiles/76561198306...,"[{'funny': '', 'posted': 'Posted May 31.', 'la..."
25795,Ghoustik,http://steamcommunity.com/id/Ghoustik,"[{'funny': '', 'posted': 'Posted June 17.', 'l..."
25796,76561198310819422,http://steamcommunity.com/profiles/76561198310...,"[{'funny': '1 person found this review funny',..."
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"[{'funny': '', 'posted': 'Posted July 21.', 'l..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"[{'funny': '1 person found this review funny',..."